:root {
  --main-bg-dark: #2d3e4e;
  --grid-item-bg-color: #ddd;
  --green: #07c06a;
  --color-white: #ffffff;
  --color-blue-dark: #2d3e4e;
  --color-blue-light: #4a6572;
  --color-green-dark: #07c06a;
  --color-green-light: #4daa55;
  --color-gray: #aaaaaa;
  --color-transparent: transparent;
}
